<!DOCTYPE HTML>
<html>
<head>
   <title>工合基金_首页</title>
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">    
    <script type="text/javascript" src="__STATIC__/rzg_js/i_banner1.js"></script>
    <script type="text/javascript" src="__STATIC__/rzg_js/banner.js"></script>
    <script type="text/javascript" src="__STATIC__/rzg_js/common.js"></script>
    <link rel="stylesheet" href="__STATIC__/rzg_css/style.css" type="text/css"></link>
    <link rel="stylesheet" href="__STATIC__/rzg_css/base.css" type="text/css"></link>
    <link rel="stylesheet" href="__STATIC__/rzg_css/css.css" type="text/css"></link>
    <link rel="stylesheet" href="__STATIC__/rzg_css/cjwt.css" type="text/css"></link>
    <link href="__STATIC__/rzg_css/css.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <!-- 头部 -->
    <include file="Public/top"/>
    <!-- /头部 -->
    
    <!-- 主体 -->
    <include file="Public/body"/>
    <!-- /主体 -->

    <!-- 底部 -->
<!--底部快捷导航 开始-->
<div class="bottom_box bottom_box1">
    <div class="bottom">
        <div class="bottom_con1">
            <div class="bottom_left">
                <div class="db_menu">
                    <a href="gywm.htm">关于我们</a>
                    <a href="getMessageBytypeId.htm?typeId=5">法律法规</a>
                    <a href="newhelp.htm">新手指引</a>
                    <a href="zxns.htm">诚聘英才</a>
                    <a href="lxwm.htm">联系我们</a>
                    <a href="forumquestionall.htm">问答</a>
                    <a href="wzdt.htm">网站地图</a>
                </div>
                <div class="db_gzwm">
                    <p class="gzwm">
                        关注我们
                    </p>
                    <a class="xlwb" href="http://weibo.com/ubanks">新浪微博</a>
                    <a class="gfwx" href="#" id="id2">关注微信</a>
                    <a class="scbz" href="javascript:void(0);"
                        onclick=
    AddFavorite('融资谷', location.href);
>收藏本站</a>
                </div>
            </div>
            <div class="bottom_right">
                <p>
                    客服热线\工作时间 9:30-17.30
                </p>
                <div class="kfdh">
                    4000-911-806
                </div>
                
            </div>
        </div>
        <!-- 友情链接 -->
        <div class="bottom_con3">
        <h4>友情链接</h4>
        <ul>
                <li><a target="_blank" href="http://www.gopay.com.cn/" >国付宝</a>   </li>
                <li><a target="_blank" href="http://www.p2peye.com">网贷天眼</a></li>
                <li><a target="_blank" href="http://www.wangdaizhijia.com/">网贷之家</a> </li>
                <li><a target="_blank" href="http://www.shzfsoft.com/">网贷之星</a> </li>
                <li><a target="_blank" href="http://www.wangdaicaifu.com/">网贷财富</a> </li>
                <li><a target="_blank" href="http://www.wdlm.cn/">网贷联盟</a> </li>
                <li><a target="_blank" href="http://www.erongtu.com/">融途网</a> </li>
                <li><a target="_blank" href="http://www.p2pxing.com/">网贷之星</a> </li>
                <li><a target="_blank" href="http://www.p2pzhinan.com/">P2P网贷指南</a> </li>
                <li><a target="_blank" href="http://www.wangdai3.com/">网贷第三方</a> </li>
          </ul>
        </div>
        
        
        <div class="bottom_con2">
        Copyright © 2014 融资谷（www.ubanks.cn）版权所有 深圳前海融资谷电子商务有限公司 | 
            <a href="http://www.miitbeian.gov.cn">备案号：粤ICP备14026790号</a> &nbsp;
            <script type="text/javascript">
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://"
            : " http://");
    document
            .write(unescape("%3Cscript src='"
                    + _bdhmProtocol
                    + "hm.baidu.com/h.js%3F0d153ad81f03058ce80c0c3c697b77b5' type='text/javascript'%3E%3C/script%3E"));
</script>

            <script type="text/javascript"
                src="http://tajs.qq.com/stats?sId=34570481" charset="UTF-8"></script>

        </div>

        <div class="bottom_aqpic">
            <script id="ebsgovicon"
                src="https://cert.ebs.gov.cn/govicon.js?id=d49f3614-19ad-47df-a3bf-4b8bf872e48b&width=52&height=70&type=1"
                type="text/javascript" charset="utf-8"></script>
             &nbsp;
            <a href="http://webscan.360.cn/index/checkwebsite/url/www.ubanks.cn"><img
                    border="0" style="width: 100px; height: 50px;"
                    src="http://img.webscan.360.cn/status/pai/hash/8fd610857e7a8668e59488f645830bca" />
            </a> &nbsp;
            <a href="http://www.itrust.org.cn/yz/pjwx.asp?wm=1305828394"><img
                    alt="" src="images/wzzx.jpg" style="width: 100px; height: 50px;">
            </a>&nbsp;
            <a id='___szfw_logo___'
                href='https://search.szfw.org/cert/l/CX20140729008585008681'
                target='_blank'><img style="width: 100px; height: 50px;"
                    src='https://search.szfw.org/cert.png?l=CX20140729008585008681'>
                &nbsp; <a key="53f6a580efbfb04a7b49c161" logo_size="124x47"
                logo_type="realname" href="http://www.anquan.org"><script
                        src="http://static.anquan.org/static/outer/js/aq_auth.js"></script>
            </a>
        </div>

    </div>
</div>

<!--底部footer 结束-->
<script type="text/javascript" src="script/jqueryV172.js"></script>
<script type="text/javascript" src="script/xl.js"></script>
<script type='text/javascript'>
    (function() {
        document.getElementById('___szfw_logo___').oncontextmenu = function() {
            return false;
        }
    })();
</script>
<script type="text/javascript">
    //收藏本站
    function AddFavorite(title, url) {
        try {
            window.external.addFavorite(url, title);
        } catch (e) {
            try {
                window.sidebar.addPanel(title, url, "");
            } catch (e) {
                alert("抱歉，您所使用的浏览器无法完成此操作。\n\n加入收藏失败，请使用Ctrl+D进行添加");
            }
        }
    }
</script>
<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/banner.js"></script>

<div style="display: none" id=testID>
    <P>
        <img src="images/img/weixin.jpg" width="250" height="250" />
    </P>
    打开微信，点击底部的″发现″，使用″扫一扫″即可关注融资谷官方微信.
</div>
<script type=text/javascript>
    var environment = {
        userVo : '',
        role : '',
        userId : '',
        basePath : '',
        userCash : ''
    };
</script>
<script type="text/javascript">
    $("#id2").click(
            function() {
                tipsWindown("关注融资谷官方微信", "id:testID", "250", "300", "true", "",
                        "true", "id");
            });

    // 关注微信
    var showWindown = true;
    var templateSrc = "http://leotheme.cn/wp-content/themes/Dreamy";
    function tipsWindown(title, content, width, height, drag, time, showbg,
            cssName) {
        $("#windown-box").remove();
        var width = width >= 950 ? this.width = 950 : this.width = width;
        var height = height >= 527 ? this.height = 527 : this.height = height;
        if (showWindown == true) {
            var simpleWindown_html = new String;
            simpleWindown_html = "<div id=\"windownbg\" style=\"height:"
                    + $(document).height()
                    + "px;;filter:alpha(opacity=0);opacity:0;z-index: 999901\"><iframe style=\"width:100%;height:100%;border:none;filter:alpha(opacity=0);opacity:0;\">__tag_149$151_</div>";
            simpleWindown_html += "__tag_150$25_";
            simpleWindown_html += "__tag_151$25_<h2>__tag_151$55_<span id=\"windown-close\">鍏抽棴__tag_151$90_</div>";
            simpleWindown_html += "__tag_152$25_<div id=\"windown-content\">__tag_152$88_</div>";
            simpleWindown_html += "__tag_153$25_";
            $("body").append(simpleWindown_html);
            show = false;
        }
        contentType = content.substring(0, content.indexOf(":"));
        content = content.substring(content.indexOf(":") + 1, content.length);
        switch (contentType) {
        case "text":
            $("#windown-content").html(content);
            break;
        case "id":
            $("#windown-content").html($("#" + content + "").html());
            break;
        case "img":
            $("#windown-content").ajaxStart(function() {
                $(this).html("__tag_172$12_");
            });
            $.ajax( {
                error : function() {
                    $("#windown-content").html("__tag_178$32_</p>");
                },
                success : function(html) {
                    $("#windown-content").html("__tag_182$7_");
                }
            });
            break;
        case "url":
            var content_array = content.split("?");
            $("#windown-content").ajaxStart(function() {
                $(this).html("__tag_193$12_");
            });
            $.ajax( {
                type : content_array[0],
                url : content_array[1],
                data : content_array[2],
                error : function() {
                    $("#windown-content").html("__tag_202$32_</p>");
                },
                success : function(html) {
                    $("#windown-content").html(html);
                }
            });
            break;
        case "iframe":
            $("#windown-content").ajaxStart(function() {
                $(this).html("__tag_215$12_");
            });
            $
                    .ajax( {
                        error : function() {
                            $("#windown-content").html("__tag_223$9_</p>");
                        },
                        success : function(html) {
                            $("#windown-content")
                                    .html(
                                            "<iframe src='../js//"
                                                    + content
                                                    + " width=\"100%\" height=\""
                                                    + parseInt(height)
                                                    + "px"
                                                    + "\" scrolling=\"auto\" frameborder=\"0\" marginheight=\"0\" marginwidth=\"0\">__tag_233$92_");
                        }
                    });
        }
        $("#windown-title h2").html(title);
        if (showbg == "true") {
            $("#windownbg").show();
        } else {
            $("#windownbg").remove();
        }
        ;
        $("#windownbg").animate( {
            opacity : "0.5"
        }, "normal");
        $("#windown-box").show();
        if (height >= 527) {
            $("#windown-title").css( {
                width : (parseInt(width) + 22) + "px"
            });
            $("#windown-content").css( {
                width : (parseInt(width) + 17) + "px",
                height : height + "px"
            });
        } else {

            $("#windown-title").css( {
                width : (parseInt(width) + 10) + "px"
            });
            $("#windown-content").css( {
                width : width + "px",
                height : height + "px"
            });
        }

        var cw, ch, est = document.documentElement.scrollTop;
        if (self.innerHeight) {
            cw = self.innerWidth;
            ch = self.innerHeight;
        } else if (document.documentElement
                && document.documentElement.clientHeight) {
            cw = document.documentElement.clientWidth;
            ch = document.documentElement.clientHeight;
        } else if (document.body) {
            cw = document.body.clientWidth;
            ch = document.body.clientHeight;
        }
        var isIE6 = false;
        if (isIE6) {
            $("#windown-box").css( {
                left : "50%",
                top : (parseInt((ch) / 2) + est) + "px",
                marginTop : -((parseInt(height) + 53) / 2) + "px",
                marginLeft : -((parseInt(width) + 32) / 2) + "px",
                zIndex : "999999"
            });
        } else {
            $("#windown-box").css( {
                left : "50%",
                top : "50%",
                marginTop : -((parseInt(height) + 53) / 2) + "px",
                marginLeft : -((parseInt(width) + 32) / 2) + "px",
                zIndex : "999999"
            });
        }
        ;
        var Drag_ID = document.getElementById("windown-box"), DragHead = document
                .getElementById("windown-title");

        var moveX = 0, moveY = 0, moveTop, moveLeft = 0, moveable = false;
        if (isIE6) {
            moveTop = est;
        } else {
            moveTop = 0;
        }
        var sw = Drag_ID.scrollWidth, sh = Drag_ID.scrollHeight;
        DragHead.onmouseover = function(e) {
            if (drag == "true") {
                DragHead.style.cursor = "move";
            } else {
                DragHead.style.cursor = "default";
            }
        };
        DragHead.onmousedown = function(e) {
            $("#windown-box").css( {
                opacity : "0.5"
            }, "normal");
            if (drag == "true") {
                moveable = true;
            } else {
                moveable = false;
            }
            e = window.event ? window.event : e;
            var ol = Drag_ID.offsetLeft, ot = Drag_ID.offsetTop - moveTop;
            moveX = e.clientX - ol;
            moveY = e.clientY - ot;
            document.onmousemove = function(e) {
                if (moveable) {

                    e = window.event ? window.event : e;
                    var x = e.clientX - moveX;
                    var y = e.clientY - moveY;
                    if (x > 0 && (x + sw < cw) && y > 0 && (y + sh < ch)) {
                        Drag_ID.style.left = x + "px";
                        Drag_ID.style.top = parseInt(y + moveTop) + "px";
                        Drag_ID.style.margin = "auto";
                    }
                }
            }
            document.onmouseup = function() {
                moveable = false;
                $("#windown-box").css( {
                    opacity : "1"
                }, "normal");
            };
            Drag_ID.onselectstart = function(e) {
                return false;
            }
            $("#windown-content").attr("class", "windown-" + cssName);
            var closeWindown = function() {
                $("#windownbg").remove();
                $("#windown-box").fadeOut("slow", function() {
                    $(this).remove();
                });
            }
            if (time == "" || typeof (time) == "undefined") {
                $("#windown-close").click(function() {
                    $("#windownbg").remove();
                    $("#windown-box").fadeOut("slow", function() {
                        $(this).remove();
                    });
                });
            } else {
                setTimeout(closeWindown, time);
            }
        }
    }
</script>
<!-- WPA Button Begin -->
<script charset="utf-8" type="text/javascript"
    src="http://wpa.b.qq.com/cgi/wpa.php?key=XzkzODAyNjA2MV8xNTgyNTlfNDAwMDkxMTgwNl8"></script>
<!-- WPA Button End -->
    <!-- /底部 -->
</body>
</html>