   <title>工合基金_首页</title>
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="cache-control" content="no-cache">
	<meta http-equiv="expires" content="0">    
	<script type="text/javascript" src="__STATIC__/rzg_js/i_banner1.js"></script>
	<script type="text/javascript" src="__STATIC__/rzg_js/banner.js"></script>
	<script type="text/javascript" src="__STATIC__/rzg_js/common.js"></script>
	<link rel="stylesheet" href="__STATIC__/rzg_css/style.css" type="text/css"></link>
	<link rel="stylesheet" href="__STATIC__/rzg_css/base.css" type="text/css"></link>
	<link rel="stylesheet" href="__STATIC__/rzg_css/css.css" type="text/css"></link>
	<link rel="stylesheet" href="__STATIC__/rzg_css/cjwt.css" type="text/css"></link>
	<link href="__STATIC__/rzg_css/css.css" rel="stylesheet" type="text/css" />