<div class="box">
	<div class="til">
		<h2>
			个人中心
		</h2>
	</div>
	<ul>
		<li id="li_1">
			<a href="{:U('Member/index')}" >我的主页</a>
		</li>
		<li id="li_16">
			<a href="{:U('Userinfo/userselfset')}">基本认证</a>
		</li>
		<li id="li_3">
			<a href="javascript:void(0);" class="shigong">融资认证</a>
		</li>
		
		<li id="li_5">
			<a href="javascript:void(0);" class="shigong">安全设置</a>
		</li>
        <li id="li_121"><a href="javascript:void(0);" class="shigong">安全中心</a></li>
		<li id="li_2">
			<a href="javascript:void(0);" class="shigong">充值提现</a>
		</li>
		<li id="li_4">
			<a href="javascript:void(0);" class="shigong">站内信</a>
		</li>
		<li id="li_6">
			<a href="javascript:void(0);" class="shigong">好友管理</a>
		</li>
<li id="li_123"><a href="javascript:void(0);" class="shigong">通知设置</a></li>
	</ul>
</div>
<div class="box">
	<div class="til">
		<h2>
			借款管理
		</h2>
	</div>
	<ul>
		<li id="li_7" class="fir">
			<a href="javascript:void(0);" class="shigong">还款管理</a>
		</li>
		<li id="li_8">
			<a href="javascript:void(0);" class="shigong">已发布的借款</a>
		</li>
		<li id="li_9">
			<a href="javascript:void(0);" class="shigong">贷款统计</a>
		</li>
	</ul>
</div>
<div class="box">
	<div class="til">
		<h2>
			理财管理
		</h2>
	</div>
	<ul>
		<li id="li_10">
			<a href="javascript:void(0);" class="shigong">我的投标</a>
		</li>
		<li id="li_11">
			<a href="javascript:void(0);" class="shigong">我关注的借款</a>
		</li>
		<li id="li_12">
			<a href="javascript:void(0);" class="shigong">理财统计</a>
		</li>
		<li id="li_13"><a href="javascript:void(0);" class="shigong">自动投标</a></li>
	</ul>
</div>

      <div class="box">
      <div class="til"><h2>债权管理</h2>
      </div>
      <ul><li id="li_14"><a href="javascript:void(0);" class="shigong">债权转让</a></li>
			<li id="li_15"><a href="javascript:void(0);" class="shigong">债权竞拍</a></li>
</ul>
</div>
