<!--header-->
<div class="topline_box1">
	<div class="top_line">
		<div class="top_phone">
			4000-911-806
		</div>
			<div class="topline_right">
				<ul>
					<li>
						<a href="javascript:void(0);" class="xsrw tipxia">策划中的活动</a>
					</li>
					<!--<li>
						<a href="newguide.htm" class="xsrw">新手任务</a>
					</li>-->
					<li id="gfq">
						官方群
						<div id="rzggf" class="list" style="display: none;">
							<a>官方群:264159783</a>
							<a>V&nbsp;I&nbsp;P群:303173892</a>
						</div>
					</li>

					<li>
						<a href="{:U('User/register')}" class="mfzc">免费注册</a>
					</li>
					<li>
						<a href="{:U('User/login')}" class="ljdl"> 立即登录</a>
					</li>
				</ul>
			</div>
	</div>
</div>
<div class="header">
	<div class="logo">
		<a href=""><img src="/Public/static/rzg_images/img/logo.gif"/>
		</a>
	</div>
	<div class="nav">
	    <think:nav name="nav">
	    <eq name="nav.pid" value="0">
            <a href="{$nav.url|get_nav_url}" target="<eq name='nav.target' value='1'>_blank<else/>_self</eq>">{$nav.title}</a>
		</eq>
		</think:nav>
	</div>
</div>

<!-- header end-->

