<%@ page language="java" import="java.util.*" pageEncoding="UTF-8"%>
<%@include file="/include/taglib.jsp"%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<jsp:include page="/include/head.jsp"></jsp:include>
		<link href="css/css.css" rel="stylesheet" type="text/css" />
		<link href="css/base.css" rel="stylesheet" type="text/css" />
		<link href="css/inside.css" rel="stylesheet" type="text/css" />
		<link id="skin" rel="stylesheet" href="css/jbox.css" />
		<style type="text/css">
ul,li {
	margin: 0;
	padding: 0
}

#scrollDiv {
	height: 182px;
	overflow: hidden
}

.load {
	width: 18px;
	height: 18px;
	margin: 10px;
}
</style>
	</head>
	<body>
		<%--header--%>
		<jsp:include page="/include/topref.jsp"></jsp:include>
		<%-- header end--%>
		<div class="nymain" >
			<div class="kfbox">
				<div class="leftbox">
					<h3>
						关于我们
					</h3>
					<div class="boxmain">
						<ul>
							<li>
								<a href="gywm.htm" >公司介绍</a>
							</li>
							
							<li >
								<a href="bghj.htm">办公环境</a>
							</li>
							
							<%--
							<li>
								<a href="zfsm.htm">资费说明</a>
							</li>
							--%>
							<li>
								<a href="hzhb.htm" style="color: #166cb2;" >合作伙伴</a>
							</li>
							<li>
								<a href="zxns.htm">招贤纳士</a>
							</li>
							<li class="last">
								<a href="lxwm.htm">联系我们</a>
							</li>
							<li class="last">
								<a href="mtbd.htm">媒体报道</a>
							</li>
						</ul>
					</div>
				</div>
				<div id="showcontent" class="rightbox">
      <h4>合作伙伴</h4>
	  <h4 style="font-weight:normal;color:#888;">融资谷（www.ubanks.cn）作为互联网金融P2P行业的领军企业，我们与国内一流金融机构、法律机构建立了长期稳定的战略合作伙伴关系。</h4>
    	<div class="zpzw_box" > 
      <div class="hzhb_title"> <h4>深圳市高科投担保有限公司</h4> 
        <img src="images/logo_gkt.jpg" /></div>
      <div class="zpzw_cont" >
      <p>圳市高科投担保有限公司注册1亿元，跟深圳多家银行达成友好的战略性合作协议，为中小企业的融资难解决了实在的问题，扶助中小企业的成长作出了重要的作用！作为较早主营个人担保业务的专业担保公司之一，成立至今，公司以解决中小企业“融资难”为目标，致力于搭建中小企业投融资的服务平台，以促进中小企业发展为己任，为中小企业提供优质、高效、便捷的投融资服务。公司凭借强有力的政策支持、雄厚的资本实力、灵活的运营机制、高素质的专业团队、创新的业务模式以及完善的风险控制体系，逐步对接市场，发展步入正轨。公司将秉承“务实、高效、安全、卓越”的经营方针，在稳健开展业务的同时积极开拓创新，促进公司从区域性企业向全国性企业集团转变，力争发展为全国担保行业的领先企业，为促进全社会中小企业健康发展做出贡献。</p>
      </div>
      </div>
      
      <div class="zpzw_box"> 
      <div class="hzhb_title"> <h4>广东嘉得信律师事务所</h4> 
        <img src="images/logo_jdx.jpg" /></div>
      <div class="zpzw_cont">
      <p>广东嘉得信律师事务所是一家专业从事金融与房地产领域业务的合伙制律师事务所，现有律师及其他工作人员共130人，其中从事金融领域业务人员105人，营业面积达1800余平方米。执业律师均具备深厚的法学理论基础和丰富的国内外司法实践经验，同时聘请了一批国内知名法学专家和其他专业人员为顾问。事务所始终坚持“信誉第一、质量为本、客户至上”的服务理念，奉行强烈的团队精神，精诚合作，为国内外客户提供优质高效的法律服务。</p>
      </div>
      </div>
      
      <div class="zpzw_box" > 
      <div class="hzhb_title"> <h4>鹏元征信</h4> 
        <img src="images/logo_pyzx.jpg" /></div>
        
      <div class="zpzw_cont" >
      <p>鹏元征信有限公司成立于2005年，是专门开展个人征信、企业征信、企业评级、企业及个人信用管理的专业征信机构。公司通过了高新技术企业认定、双软企业认定、国家信息安全认证及国际软件成熟度（CMMI）认证，在个人及企业征信领域一直处于领先地位。</p>
      </div>
      </div>
      
      <div class="zpzw_box" > 
      <div class="hzhb_title"> <h4>招商银行</h4> 
        <img src="images/logo_zsyh.jpg" /></div>
        
      <div class="zpzw_cont" >
      <p>招商银行成立于1987年(丁卯年)4月8日，是中国第一家完全由企业法人持股的股份制商业银行，总行设在深圳。由香港招商局集团有限公司创办，并以18.03%的持股比例任最大股东。自成立以来，招商银行先后进行了四次增资扩股，并于2002年3月成功地发行了15亿普通股，4月9日在上交所挂牌（股票代码：600036），是中国第一家采用国际会计标准的上市公司。2013年5月8日招商银行深圳总部将召开管理层大会：银监会副主席蔡鄂生将出席并会宣布对招行党委书记的任免，现任党委书记马蔚华将辞任，由建设银行零售业务总监、北京分行行长田惠宇接任。</p>
      </div>
      </div>
      
      <div class="zpzw_box" > 
      <div class="hzhb_title"> <h4>平安银行</h4> 
        <img src="images/logo_payh.jpg" /></div>
        
      <div class="zpzw_cont" >
      <p>平安银行， 全称平安银行股份有限公司，是中国平安保险（集团）股份有限公司控股的一家跨区域经营的股份制商业银行，为中国大陆12家全国性股份制商业银行之一。注册资本为人民币51.2335亿元，总资产近1.37万亿元，总部位于广东省深圳市。</p>
     
      </div>
      </div>
      
      
      
      <div class="zpzw_box"> 
      <div class="hzhb_title"> <h4>交通银行</h4> 
        <img src="images/logo_jtyh.jpg" /></div>
      <div class="zpzw_cont">
      <p>交通银行始建于1908年，是中国近代以来延续历史最悠久最古老的银行，也是近代中国的发钞行之一。现为中国五大国有银行之一。交通银行是中国境内主要综合金融服务提供商之一，并正在成为一家以商业银行为主体，跨市场，国际化的大型银行集团，业务范围涵盖商业银行，投资银行，证券，信托，金融租赁，基金管理，保险，离岸金融服务等诸多领域。</p>
      </div>
      </div>
    
      <div class="zpzw_box"> 
      <div class="hzhb_title"> <h4>国付宝</h4> 
        <img src="images/logo_gfb.jpg" /></div>
      <div class="zpzw_cont">
      <p>国付宝信息科技有限公司成立于2011年1月25日，由商务部中国国际电子商务中心与海航商业控股有限公司合作成立，主要经营第三方支付业务。公司注册资本14285.72万元，主要经营第三方支付业务，互联网支付及移动电话支付（全国）。</p>
      <p>国付宝的高度安全性以及严格的风险控制体系深受业内专家和众多企业及消费者的好评，国付宝电子支付平台采用了国际上最先进的应用服务器和数据库系统，支付信息的传输采用了128位的SSL加密算法，整套安全体系依托于CIECC权威、稳定、安全的第三方商贸服务平台是国家级电子商务全程服务平台。</p>
      </div>
      </div>
    
     
      
      
    </div>
  </div>
    
			</div>
		
		<%-- 引用底部公共部分 --%>

		<jsp:include page="/include/footer.jsp"></jsp:include>

		<%--底部footer 结束--%>
		<script type="text/javascript">
$(document).ready(function(){
	$('.zpzw_box').each( function(){
		var oBtn = $(this).find('h4');
		var oDiv = $(this).find('.zpzw_cont');
		oBtn.click(function(){
			$('.zpzw_cont').slideUp(200);
			$('.zpzw_box').find('h4').removeClass('down');
			if(oDiv.is(":visible")){				
				oDiv.slideUp(200)
			} else {
				oBtn.addClass("down")
				oDiv.slideDown(300)
			}			
		});
	});
	
});
</script>
	</body>
</html>
