<%@ page language="java" import="java.util.*" pageEncoding="UTF-8"%>
<%@include file="/include/taglib.jsp"%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head> 
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<jsp:include page="/include/head.jsp"></jsp:include>
		<link href="css/css.css" rel="stylesheet" type="text/css" />
		<link href="css/base.css" rel="stylesheet" type="text/css" />
		<link href="css/inside.css" rel="stylesheet" type="text/css" />
		<link id="skin" rel="stylesheet" href="css/jbox.css" />
		<style type="text/css">
ul,li {
	margin: 0;
	padding: 0
}

#scrollDiv {
	height: 182px;
	overflow: hidden
}

.load {
	width: 18px;
	height: 18px;
	margin: 10px;
}
</style>
	</head>
	<body>
		<%--header--%>
		<jsp:include page="/include/topref.jsp"></jsp:include>
		<%-- header end--%>
		<div class="nymain" >
			<div class="kfbox">
				<div class="leftbox">
					<h3>
						关于我们
					</h3>
					<div class="boxmain">
						<ul>
							<li>
								<a href="gywm.htm" style="color: #166cb2;" >公司介绍</a>
							</li>
							
							<li>
								<a href="bghj.htm">办公环境</a>
							</li>
							<%--
							<li>
								<a href="zfsm.htm">资费说明</a>
							</li>--%>
							<li>
								<a href="hzhb.htm" >合作伙伴</a>
							</li>
							<li>
								<a href="zxns.htm">招贤纳士</a>
							</li>
							<li class="last">
								<a href="lxwm.htm">联系我们</a>
							</li>
							<li class="last">
								<a href="mtbd.htm">媒体报道</a>
							</li>
						</ul>
					</div>
				</div>
				<div id="showcontent" class="rightbox">
					<h4>公司简介</h4>
      <p>融资谷(www.ubanks.cn)是深圳前海融资谷电子商务有限公司倾力打造的互联网投资创新<a href="http://ptlogin2.qq.com/jump?uin=972875496&amp;skey=@eLfP7bZ81&amp;u1=http%3A%2F%2Fuser.qzone.qq.com%2F972875496%2Finfocenter%3Fqz_referrer%3Dqqtips"></a>增值服务的网贷平台。 融资谷网贷平台前身从事金融服务多年，公司拥有一支经验丰富，技术卓越，素质优良的专业化运营管理团队，团队成员多来自电商，担保、网贷等平台。 </p>
      <p>公司总部设于深圳市福田区财富广场A座10楼，注册资金1000万人民币,团队规模达到60多人。公司自创立以来，始终坚持“诚信规范”。我们的团队拥有行业领先的风险控制能力，先进工作理念及创新的科学技术，为广大客户提供一个“安全高效” 的金融服务平台。 </p>
      <p  style="text-indent:0;"><img src="images/img/yyzz.jpg" style="width:700px;height:400px;"/></p>
	  <p  style="text-indent:0;"><img src="images/img/20140613_161624.jpg" style="width:700px;height:400px;margin:15px 0;" /></p>
	 <p   style="text-indent:0;"> <img src="images/img/20140613_161920.jpg" style="width:700px;height:400px;"/> </p>
	  
      <h4>平台优势：</h4>
      <p> 融资谷专注于中小企业供应链金融服务，通过现场考察，资产抵押，征信等多种途径形成的风控体系，在本就以赎楼、过桥及红本抵押等低风险业务为主的基础上，更是游刃有余。我们更有信心在降低风险的同时，给广大投资人更好的收益保障。 </p>
      <h4>企业文化：</h4>
      <p> <span >诚信：</span>诚信是我们对待工作的基本要求，以最大的诚信获得借款人及投资人的信任，以诚信促发展 </p>
      <p> <span >规范：</span>规范是公正、高效、快捷的保证，高标准，严要求、合规范、是我们对待公正的原则，规范让公司更好的发展 </p>
      <p> <span >互惠互助：</span>为借款人解决融资难题，为投资人提供优质理财服务，是公司成立的立足之本，只有互惠互助，才能实现三方共赢。 </p>
      <h4>公司愿景：</h4>
      <p> 靠诚信打造财富，让财富创造价值 </p>
      <h4>公司使命：</h4>
      <p> 让我们引领客户实现财富的安全和稳定增值 </p>
      <p> 让我们成功的实现个人信用自主和金融自由</p>
      </p>
      </p>
				</div>
			</div>
		</div>
		<%-- 引用底部公共部分 --%>

		<jsp:include page="/include/footer.jsp"></jsp:include>

		<%--底部footer 结束--%>
		<script type="text/javascript" src="../js/jqueryV172.js"></script>
		<script type="text/javascript" src="../jsscript/xl.js"></script>
		<script type="text/javascript">
function addCookie()
{
 if (document.all){
       window.external.addFavorite('http://www.rzg888.com/','融资谷');
    }
    else if (window.sidebar) {
       window.sidebar.addPanel('融资谷', 'http://www.rzg888.com/', "");
    }else{
       alert('请手动设为首页');
    }
}

function setHomepage(){
    if (document.all){
        document.body.style.behavior='url(#default#homepage)';
        document.body.setHomePage('http://www.rzg888.com/');
    }else if (window.sidebar){
        if(window.netscape){
         try{  
            netscape.security.PrivilegeManager.enablePrivilege("UniversalXPConnect");  
         }  
         catch (e)  
         {  
            alert( "该操作被浏览器拒绝，如果想启用该功能，请在地址栏内输入 about:config,然后将项 signed.applets.codebase_principal_support 值该为true" );  
         }
    }else{
        alert('请手动添加收藏');
    }
    var prefs = Components.classes['@mozilla.org/preferences-service;1'].getService(Components. interfaces.nsIPrefBranch);
    prefs.setCharPref('browser.startup.homepage','http://www.rzg888.com/');
 }
}
$(function(){
	$(window).scroll(function(){
		if($(window).scrollTop()>=109){
			$(".nav-zdh").css("position","fixed")
		}
		else{
		$(".nav-zdh").css("position","relative")
		}
	})
})
</script>
		<script type="text/javascript" src="../js/jquery.shove-1.0.js"></script>
		<script>
$(function(){
     //样式选中
	dqzt(0);
$('#aboutower').addClass('on');
	//联系我们 
	$("#touchus").click(function(){
		$('#aboutower').removeClass('on');
		$('#costdesc').removeClass('on');
		$('#invite').removeClass('on');
		$('#teamwork').removeClass('on');
		$('#links').removeClass('on');
		$('#mediaReport').removeClass('on');
		 $('#touchus').addClass('on');
	    $.post("queryMessageDetail.htm","typeId=7",function(data){
	         $("#showcontent").html("");
	         $("#showcontent").html("<h3>"+data.columName+"</h3>"+
	                           "<p class='zw'>"+data.content+"</p>");
	    });
	});
	
	//关于我们
	$("#aboutower").click(function(){
		$('#costdesc').removeClass('on');
		$('#invite').removeClass('on');
		$('#teamwork').removeClass('on');
		$('#links').removeClass('on');
		$('#mediaReport').removeClass('on');
		 $('#touchus').removeClass('on');
		 $('#aboutower').addClass('on');
	    $.post("queryMessageDetail.htm","typeId=4",function(data){
	         $("#showcontent").html("");
	         $("#showcontent").html("<h3>"+data.columName+"</h3>"+
	                           "<p class='zw'>"+data.content+"</p>");
	    });
	});
	
		//资费说明
	$("#costdesc").click(function(){
		 $('#costdesc').addClass('on');
			$('#invite').removeClass('on');
			$('#teamwork').removeClass('on');
			$('#links').removeClass('on');
			$('#mediaReport').removeClass('on');
			 $('#touchus').removeClass('on');
			 $('#aboutower').removeClass('on');
	    $.post("queryMessageDetail.htm","typeId=6",function(data){
	         $("#showcontent").html("");
	         $("#showcontent").html("<h3>"+data.columName+"</h3>"+
	                           "<p class='zw'>"+data.content+"</p>");
	    });
	});
	
	
		//诚聘英才
	$("#invite").click(function(){
		 $('#invite').addClass('on');
		 $('#costdesc').removeClass('on');
		 $('#teamwork').removeClass('on');
		 $('#links').removeClass('on');
		 $('#mediaReport').removeClass('on');
		 $('#touchus').removeClass('on');
		 $('#aboutower').removeClass('on');
	    $.post("queryMessageDetail.htm","typeId=10",function(data){
	         $("#showcontent").html("");
	         $("#showcontent").html("<h3>"+data.columName+"</h3>"+
	                           "<p class='zw'>"+data.content+"</p>");
	    });
	});

			//合作伙伴
	$("#teamwork").click(function(){
		 $('#invite').removeClass('on');
		 $('#costdesc').removeClass('on');
		 $('#links').removeClass('on');
		 $('#mediaReport').removeClass('on');
		 $('#touchus').removeClass('on');
		 $('#aboutower').removeClass('on');
		 $('#teamwork').addClass('on');
	    $.post("queryMessageDetail.htm","typeId=11",function(data){
	         $("#showcontent").html("");
	         $("#showcontent").html("<h3>"+data.columName+"</h3>"+
	                           "<p class='zw'>"+data.content+"</p>");
	    });
	});
	
				//友情链接
	$("#links").click(function(){
		 $('#invite').removeClass('on');
		 $('#costdesc').removeClass('on');
		 $('#teamwork').removeClass('on');
		 $('#mediaReport').removeClass('on');
		 $('#touchus').removeClass('on');
		 $('#aboutower').removeClass('on');
		 $('#links').addClass('on');
	    $.post("frontQueryMediaReportdList.htm","",function(data){
	         $("#showcontent").html("");
	         $("#showcontent").html(data);
	    });
	});
	
					//媒体报道
	$("#mediaReport").click(function(){
		 $('#mediaReport').addClass('on');
		 $('#invite').removeClass('on');
		 $('#costdesc').removeClass('on');
		 $('#teamwork').removeClass('on');
		 $('#links').removeClass('on');
		 $('#touchus').removeClass('on');
		 $('#aboutower').removeClass('on');
		  param["pageBean.pageNum"] = 1; 
		  queryMtbd(param);
	});
	
	
	
});

function doMtbdJumpPage(i){
		if(isNaN(i)){
			alert("输入格式不正确!");
			return;
		}
		$("#pageNum").val(i);
		param["pageBean.pageNum"]=i;
		//回调页面方法
		queryMtbd(param);
	}
	function queryMtbd(parDate){
		 $.post("queryMediaReportListPage.htm",parDate,function(data){
	         $("#showcontent").html("");
	         $("#showcontent").html(data);
	    });
	}
</script>
		<script type="text/javascript">
	#showcontent").html("");
			$("#showcontent").html(data);
		});
	}

	function mediaDetail(param) {
		$.post("frontMediaReportDetails.htm", "id=" + param, function(data) {
			$("#showcontent").html("");
			$("#showcontent").html(
					"__tag_360$38_" + data.title + "__tag_360$56_"
							+ "__tag_361$30_</p>"
</script>
	</body>
</html>
