<%@ page language="java" import="java.util.*" pageEncoding="UTF-8"%>
<%@include file="/include/taglib.jsp"%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head> 
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<jsp:include page="/include/head.jsp"></jsp:include>
		<link href="css/css.css" rel="stylesheet" type="text/css" />
		<link href="css/base.css" rel="stylesheet" type="text/css" />
		<link href="css/inside.css" rel="stylesheet" type="text/css" />
		<link id="skin" rel="stylesheet" href="css/jbox.css" />
		<style type="text/css">
ul,li {
	margin: 0;
	padding: 0
}

#scrollDiv {
	height: 182px;
	overflow: hidden
}

.load {
	width: 18px;
	height: 18px;
	margin: 10px;
}
</style>
	</head>
	<body>
		<!--header-->
		<jsp:include page="/include/topref.jsp"></jsp:include>
		<!-- header end-->
		<div class="nymain" >
			<div class="kfbox">
				<div class="leftbox">
					<h3>
						关于我们
					</h3>
					<div class="boxmain">
						<ul>
							<li>
								<a href="gywm.htm" >公司介绍</a>
							</li>
							<!--
							<li>
								<a href="bghj.htm">办公环境</a>
							</li>
							-->
							<li>
								<a href="zfsm.htm" style="color: #166cb2;">资费说明</a>
							</li>
							<li>
								<a href="hzhb.htm" >合作伙伴</a>
							</li>
							<li>
								<a href="zxns.htm">招贤纳士</a>
							</li>
							<li class="last">
								<a href="lxwm.htm">联系我们</a>
							</li>
							<li class="last">
								<a href="mtbd.htm">媒体报道</a>
							</li>
						</ul>
					</div>
				</div>
				 <div id="showcontent" class="rightbox" style="height:450px;">
      <h4>资费说明</h4>
      <h4>一、理财人费用</h4>
      <p>1、充值费用：投资人线上充值免费。</p>
      <p>2、提现费用：提现不收取任何费用，申请提现成功后1-2个工日到账<br /></p>
      <p style="text-indent:48px;font-size:12px;color:#666;">（注：充值未投标的资金充值当天禁止提现；未投标的资金15日内申请提现收取本金0.4%的手续费）</p>
      <p>3、<span >Vip费用：</span>vip年费150元，注册后可申请，目前暂免年费</p>
      
      <h4> 二、借款人费用</h4>
      <p> 1、借款费用:借款人的费用以借款合同或者跟平台约定为准</p>
      <p> 2、逾期罚息:逾期罚息收取逾期本息的0.2%</p>
      
    </div>
			</div>
		</div>
		<!-- 引用底部公共部分 -->

		<jsp:include page="/include/footer.jsp"></jsp:include>

		<!--底部footer 结束-->
		<script type="text/javascript" src="../js/jqueryV172.js"></script>
		<script type="text/javascript" src="../jsscript/xl.js"></script>
		<script type="text/javascript">
function addCookie()
{
 if (document.all){
       window.external.addFavorite('http://www.rzg888.com/','融资谷');
    }
    else if (window.sidebar) {
       window.sidebar.addPanel('融资谷', 'http://www.rzg888.com/', "");
    }else{
       alert('请手动设为首页');
    }
}

function setHomepage(){
    if (document.all){
        document.body.style.behavior='url(#default#homepage)';
        document.body.setHomePage('http://www.rzg888.com/');
    }else if (window.sidebar){
        if(window.netscape){
         try{  
            netscape.security.PrivilegeManager.enablePrivilege("UniversalXPConnect");  
         }  
         catch (e)  
         {  
            alert( "该操作被浏览器拒绝，如果想启用该功能，请在地址栏内输入 about:config,然后将项 signed.applets.codebase_principal_support 值该为true" );  
         }
    }else{
        alert('请手动添加收藏');
    }
    var prefs = Components.classes['@mozilla.org/preferences-service;1'].getService(Components. interfaces.nsIPrefBranch);
    prefs.setCharPref('browser.startup.homepage','http://www.rzg888.com/');
 }
}
$(function(){
	$(window).scroll(function(){
		if($(window).scrollTop()>=109){
			$(".nav-zdh").css("position","fixed")
		}
		else{
		$(".nav-zdh").css("position","relative")
		}
	})
})
</script>
		<script type="text/javascript" src="../js/jquery.shove-1.0.js"></script>
		<script>
$(function(){
     //样式选中
	dqzt(0);
$('#aboutower').addClass('on');
	//联系我们 
	$("#touchus").click(function(){
		$('#aboutower').removeClass('on');
		$('#costdesc').removeClass('on');
		$('#invite').removeClass('on');
		$('#teamwork').removeClass('on');
		$('#links').removeClass('on');
		$('#mediaReport').removeClass('on');
		 $('#touchus').addClass('on');
	    $.post("queryMessageDetail.htm","typeId=7",function(data){
	         $("#showcontent").html("");
	         $("#showcontent").html("<h3>"+data.columName+"</h3>"+
	                           "<p class='zw'>"+data.content+"</p>");
	    });
	});
	
	//关于我们
	$("#aboutower").click(function(){
		$('#costdesc').removeClass('on');
		$('#invite').removeClass('on');
		$('#teamwork').removeClass('on');
		$('#links').removeClass('on');
		$('#mediaReport').removeClass('on');
		 $('#touchus').removeClass('on');
		 $('#aboutower').addClass('on');
	    $.post("queryMessageDetail.htm","typeId=4",function(data){
	         $("#showcontent").html("");
	         $("#showcontent").html("<h3>"+data.columName+"</h3>"+
	                           "<p class='zw'>"+data.content+"</p>");
	    });
	});
	
		//资费说明
	$("#costdesc").click(function(){
		 $('#costdesc').addClass('on');
			$('#invite').removeClass('on');
			$('#teamwork').removeClass('on');
			$('#links').removeClass('on');
			$('#mediaReport').removeClass('on');
			 $('#touchus').removeClass('on');
			 $('#aboutower').removeClass('on');
	    $.post("queryMessageDetail.htm","typeId=6",function(data){
	         $("#showcontent").html("");
	         $("#showcontent").html("<h3>"+data.columName+"</h3>"+
	                           "<p class='zw'>"+data.content+"</p>");
	    });
	});
	
	
		//诚聘英才
	$("#invite").click(function(){
		 $('#invite').addClass('on');
		 $('#costdesc').removeClass('on');
		 $('#teamwork').removeClass('on');
		 $('#links').removeClass('on');
		 $('#mediaReport').removeClass('on');
		 $('#touchus').removeClass('on');
		 $('#aboutower').removeClass('on');
	    $.post("queryMessageDetail.htm","typeId=10",function(data){
	         $("#showcontent").html("");
	         $("#showcontent").html("<h3>"+data.columName+"</h3>"+
	                           "<p class='zw'>"+data.content+"</p>");
	    });
	});

			//合作伙伴
	$("#teamwork").click(function(){
		 $('#invite').removeClass('on');
		 $('#costdesc').removeClass('on');
		 $('#links').removeClass('on');
		 $('#mediaReport').removeClass('on');
		 $('#touchus').removeClass('on');
		 $('#aboutower').removeClass('on');
		 $('#teamwork').addClass('on');
	    $.post("queryMessageDetail.htm","typeId=11",function(data){
	         $("#showcontent").html("");
	         $("#showcontent").html("<h3>"+data.columName+"</h3>"+
	                           "<p class='zw'>"+data.content+"</p>");
	    });
	});
	
				//友情链接
	$("#links").click(function(){
		 $('#invite').removeClass('on');
		 $('#costdesc').removeClass('on');
		 $('#teamwork').removeClass('on');
		 $('#mediaReport').removeClass('on');
		 $('#touchus').removeClass('on');
		 $('#aboutower').removeClass('on');
		 $('#links').addClass('on');
	    $.post("frontQueryMediaReportdList.htm","",function(data){
	         $("#showcontent").html("");
	         $("#showcontent").html(data);
	    });
	});
	
					//媒体报道
	$("#mediaReport").click(function(){
		 $('#mediaReport').addClass('on');
		 $('#invite').removeClass('on');
		 $('#costdesc').removeClass('on');
		 $('#teamwork').removeClass('on');
		 $('#links').removeClass('on');
		 $('#touchus').removeClass('on');
		 $('#aboutower').removeClass('on');
		  param["pageBean.pageNum"] = 1; 
		  queryMtbd(param);
	});
	
	
	
});

function doMtbdJumpPage(i){
		if(isNaN(i)){
			alert("输入格式不正确!");
			return;
		}
		$("#pageNum").val(i);
		param["pageBean.pageNum"]=i;
		//回调页面方法
		queryMtbd(param);
	}
	function queryMtbd(parDate){
		 $.post("queryMediaReportListPage.htm",parDate,function(data){
	         $("#showcontent").html("");
	         $("#showcontent").html(data);
	    });
	}
</script>
		<script type="text/javascript">
	#showcontent").html("");
			$("#showcontent").html(data);
		});
	}

	function mediaDetail(param) {
		$.post("frontMediaReportDetails.htm", "id=" + param, function(data) {
			$("#showcontent").html("");
			$("#showcontent").html(
					"__tag_360$38_" + data.title + "__tag_360$56_"
							+ "__tag_361$30_</p>"
</script>
	</body>
</html>
