   <title>工合基金_首页</title>
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="cache-control" content="no-cache">
	<meta http-equiv="expires" content="0">    
    	<!-- one样式 -->
    
    <!--<script type="text/javascript" src="__STATIC__/bootstrap/js/bootstrap.min.js"></script>-->
    <!-- <link href="__STATIC__/bootstrap/css/bootstrap.css" rel="stylesheet"> -->
    <!-- <link href="__STATIC__/bootstrap/css/bootstrap-responsive.css" rel="stylesheet"> -->
    <link href="__STATIC__/bootstrap/css/docs.css" rel="stylesheet">
    <!-- <link href="__STATIC__/bootstrap/css/onethink.css" rel="stylesheet"> -->

	<script type="text/javascript" src="__STATIC__/rzg_js/i_banner1.js"></script>
	<script type="text/javascript" src="__STATIC__/rzg_js/banner.js"></script>
	<script type="text/javascript" src="__STATIC__/rzg_js/common.js"></script>
	<script type="text/javascript" src="__STATIC__/jquery.min.js"></script>
    <script type="text/javascript" src="__STATIC__/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="__STATIC__/jquery.form.js"></script>
	<!-- 引入弹窗 -->
	<!--<script type="text/javascript" src="__STATIC__/ymPrompt-4.0-B-20090302/ymPrompt.js"></script>-->
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/module.css">
	<link rel="stylesheet" href="__STATIC__/rzg_css/style.css" type="text/css"></link>
	<link rel="stylesheet" href="__STATIC__/rzg_css/base.css" type="text/css"></link>
	<link rel="stylesheet" href="__STATIC__/rzg_css/css.css" type="text/css"></link>
	<link rel="stylesheet" href="__STATIC__/rzg_css/cjwt.css" type="text/css"></link>
	<link rel="stylesheet" href="__STATIC__/rzg_css/css.css"  type="text/css" />
	<!-- 引入弹窗样式 -->
    <!--<link rel="stylesheet" type="text/css" href="__STATIC__/ymPrompt-4.0-B-20090302/skin/qq/ymPrompt.css" />-->
    <!--<link rel="stylesheet" href="__STATIC__/kindeditor/themes/default/default.css" />-->
    <!--<script charset="utf-8" src="__STATIC__/kindeditor/kindeditor-min.js"></script>-->
    <!--<script charset="utf-8" src="__STATIC__/kindeditor/lang/zh_CN.js"></script>-->
    <!--<script charset="utf-8" src="__STATIC__/kindeditor/jquery-1.9.1.min.js"></script>-->
	<!-- 引入layer -->
	<script type="text/javascript" src="__STATIC__/layer/layer.min.js"></script>
	<script type="text/javascript" src="__STATIC__/layer/extend/layer.ext.js"></script>