<%@ page language="java" import="java.util.*" pageEncoding="UTF-8"%>
<%@ include file="/include/taglib.jsp"%>
<link href="css/css.css" rel="stylesheet" type="text/css" />
<link href="css/base.css" rel="stylesheet" type="text/css" />
<link href="css/inside.css" rel="stylesheet" type="text/css" />
<link id="skin" rel="stylesheet" href="css/jbox.css" />
<script type="text/javascript">
	function mediaDetail(param) {
		$.post("frontMediaReportDetails.htm", "id=" + param, function(data) {
			$("#showcontent").html("");
			$("#showcontent").html(
					"__tag_8$39_" + data.title + "__tag_8$57_"
							+ "__tag_9$31_</p>" + "__tag_10$29_" + data.content
							+ "__tag_10$59_");
		}
</script>

<!--中间右侧 开始-->
 <div class="lbox" style="height:480px;overflow:hidden;">
     <h2>动态列表</h2>
<ul class="meiti" style="padding-top:10px;">
	<s:if test="pageBean.page==null || pageBean.page.size==0">
		<tr align="center">
			<td colspan="10">
				暂无数据
			</td>
		</tr>
	</s:if>
	<s:else>
		<s:iterator value="pageBean.page" var="bean">
			<li
				style="height: 35px; line-height:35px;overflow: hidden; margin:0 15px; text-indent:30px;border-bottom: 1px dashed #ccc;">
				
				
					<a href="frontMedialinkId.htm?id=${bean.id }" title="${bean.title }"><shove:sub
							value="title" size="19" />
					</a>
				
			</li>
		</s:iterator>
	</s:else>
</ul>
<div class="fenye">
	<div class="fenyemain fenyemain1">
		<shove:page curPage="${pageBean.pageNum}" showPageCount="8"
				pageSize="${pageBean.pageSize }" theme="jsNumber"
				totalCount="${pageBean.totalNum}">
		</shove:page>
	</div>
</div>
 </div>

<!--中间右侧 结束-->

