<block name="body">
<extend name="Base/common"/>
<block name="body">
		<!-- 引用头部公共部分 -->
		<div class="nymain">
			<div class="bigbox" style="border: none">

				<div class="sqdk" style="background: none;">
					<div class="l-nav">
						<ul>
							<li class="on">
								<a><span>step1 </span> 基本资料</a>
							</li>
							<li>
								<s:if
									test="#request.from != null && #request.from!='' && #session.user.authStep>=2">
									<a href="userPassData.htm?from=${from }"><span>step2
									</span> 上传资料</a>
								</s:if>

								<s:else>
									<s:if test="#session.user.authStep>=4">
										<a href="userPassData.htm"><span>step2 </span> 上传资料</a>
									</s:if>
									<s:else>
										<a><span>step2 </span> 上传资料</a>
									</s:else>
								</s:else>
							</li>
							<li>
								<s:if
									test="#request.from != null && #request.from!='' && #session.user.authStep>=2">
									<s:if test="#session.stepMode ==1">
										<a href="addBorrowInit.htm?t=${session.borrowWay}"><span>step3
										</span> 发布贷款</a>
									</s:if>
									<s:elseif test="#session.stepMode ==2">
										<a href="creditingInit.htm"><span>step3 </span> 申请额度</a>
									</s:elseif>
									<s:else>
										<a href="addBorrowInit.htm?t=0"><span>step3 </span> 发布贷款</a>
									</s:else>
								</s:if>
								<s:else>
									<s:if test="#session.user.authStep>=5">
										<s:if test="#session.stepMode ==1">
											<a href="addBorrowInit.htm?t=${session.borrowWay}"><span>step3
											</span> 发布贷款</a>
										</s:if>
										<s:elseif test="#session.stepMode ==2">
											<a href="creditingInit.htm"><span>step3 </span> 申请额度</a>
										</s:elseif>
										<s:else>
											<a href="addBorrowInit.htm?t=0"><span>step3 </span> 发布贷款</a>
										</s:else>
									</s:if>
									<s:else>
										<s:if test="#session.stepMode ==1">
											<a><span>step3 </span> 发布贷款</a>
										</s:if>
										<s:elseif test="#session.stepMode ==2">
											<a><span>step3 </span> 申请额度</a>
										</s:elseif>
									</s:else>
								</s:else>
							</li>
						</ul>
					</div>
					<div class="r-main">
						<div class="til01">
							<ul>
								<li id="li_geren">
									个人详细信息
								</li>
								<li id="li_work">
									工作认证信息
								</li>
								<li id="li_vip" class="on">
									申请vip
								</li>
							</ul>
						</div>
						<div class="rmainbox">

							<div class="box01" id="div_vip">
								<p class="tips" style="color: #ff0000;">
									投资者：
									<br />
									网站合作商提供投资担保，享受100%本金保障。对于担保标、推荐标，还能100%保利息。（普通用户仅保障本金）
									有专业客服跟踪服务，体验尊贵感受。 享有尊贵VIP身份标识。
									<br />
									借款者：
									<br />
									享有借款资格，及时缓解资金压力。 参与网站举行的各种活动。
								</p>
								<div class="tab">
									<table width="100%" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td align="right">
												您的状态是：
											</td>
											<td>
												<s:if test="#request.vippagemap.vipStatus==2">尊敬的vip会员</s:if>
												<s:else>普通会员</s:else>
											</td>
										</tr>
										<tr>
											<td align="right">
												用 户 名：
											</td>
											<td>
												${vippagemap.username }
											</td>
										</tr>
										<tr>
											<td align="right">
												姓 名：
											</td>
											<td>
												${vippagemap.realName }
											</td>
										</tr>
										<tr>
											<td align="right">
												邮 箱：
											</td>
											<td>
												${vippagemap.email }
											</td>
										</tr>
										<tr>
											<td align="right">
												<span style="color: red; float: none;" class="formtips">*</span>选择客服：
											</td>
											<td>

												<a id="kefuname">${vippagemap.kefuname }</a>
												<input type="hidden" value="${vippagemap.kfid }"
													name="paramMap.kefu" id="kefu" />

												<s:if test="#request.vippagemap.vipStatus==2">&nbsp;</s:if>
												<s:else>
													<input type="button" id="btn_sp" class="scbtn"
														style="cursor: pointer;" value="选择客服" onclick=
	fff();
/>
												</s:else>
												<span style="color: red; float: none;" id="u_kefu"
													class="formtips"></span>

											</td>
										</tr>
										<s:if test="%{#request.isVip eq 'false'}">
											<tr>
												<td align="right">
													<span style="color: red; float: none;" class="formtips">*</span>验
													证 码：
												</td>
												<td>
													<input type="text" class="inp100x" name="paramMap.code"
														id="code" />

													<img src="admin/imageCode.do?pageId=vip" title="点击更换验证码"
														style="cursor: pointer;" id="codeNum" width="46"
														height="18" onclick=
	javascript: switchCode();
/>


													<span style="color: red; float: none;" id="u_code"
														class="formtips"></span>
												</td>
											</tr>
										</s:if>
										<tr>
											<td align="right">
												&nbsp;

											</td>
											<s:if test="#request.vippagemap.vipStatus==2">&nbsp;</s:if>
											<s:else>
												<td style="padding-top: 20px;">
													<input type="button" id="vip_btn" class="bcbtn"
														value="我要申请" />
												</td>
											</s:else>

											<tr>
												<td>
													<a href="userPassData.htm"><input type="button"
															value="下一步 " />
													</a>
												</td>
											</tr>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


</block>
