<block name="body">
<extend name="Base/common"/>
       <!-- 透明登录层 -->
  <div class="trans-login-div absolute white" style="width:300px; height:262px; z-index:2; top:-300px; ">
    <div class="opacity-div absolute wp100" style="height:262px; background:#000;filter: alpha(opacity=20);-moz-opacity: 0.2; opacity: 0.2;  z-index:-1;"></div>
    
    <div id="unknown-user" class="hide" >
    <s:if test="#session.user ==null">
      <div style="padding:35px 30px;">
       <h4>融资谷年化收益</h4>
    <p class="sy_font1">12%-20%</p>
    <p class="sy_font2"><b>60</b>倍活期存款收益,<b>6</b>倍银行定期收益</p>
    <p class="bj"></p>
    <a href="cellPhoneinit.htm" class="ljzc" >立即注册</a> 
    <a class="ljdl" href="login.htm">已有账号？立即登录</a> 
   </div>

    </s:if>
    <s:else>
       <div  style="padding:35px 27px;">
      <h4>欢迎来融资谷投资理财！</h4>
      <p class="sy_font2" style="margin:15px 0 8px 0;">您当前登录的账号是：<a href="home.htm" style="font-size:16px;color:#ff8a00;">${user.userName}</a></p>
      <p class="sy_font2" style="margin:0 0 20px 0;">我在融资谷赚了：<b style="font-size:16px;">￥${accmountStatisMap.earnSum }</b></p>
      <p class="bj"></p>
      <a href="home.htm" class="ljzc" >进入我的账户</a> 
 </div>
    </s:else>
     </div>
  </div>
  <div class="pg-header-banner">
    <div id="full-screen-slider">
      <ul id="slides">
                    <li
                        style="background: url('__STATIC__/rzg_images/banner9.jpg') no-repeat center top">
                        <a href="#" ></a>
                    </li>
                    <li
                        style="background: url('__STATIC__/rzg_images/banner8.jpg') no-repeat center top">
                        <a href="sxxl.htm" target="_blank"></a>
                    </li>
                    
                   <li
                        style="background: url('__STATIC__/rzg_images/banner1.jpg') no-repeat center top">
                        <a href="#"  target="_blank" ></a>
                    </li>
                    
                    <li
                        style="background: url('__STATIC__/rzg_images/banner2.jpg') no-repeat center top">
                        <a href="newguide.htm"></a>
                        <a href="tenthousand.htm"></a>
                    </li>
                    
                    <li
                        style="background: url('__STATIC__/rzg_images/banner3.jpg') no-repeat center top">
                        <a href="share.htm"  target="_blank"></a>

                    </li>
                    <li
                        style="background: url('__STATIC__/rzg_images/banner4.jpg') no-repeat center top">
                        <a href="#"  target="_blank"></a>
                    </li>
                    
                    <li
                        style="background: url('__STATIC__/rzg_images/banner6.jpg') no-repeat center top">
                        <a href="mtbdaaa.htm"  target="_blank"></a>
                    </li>
                    <li
                        style="background: url('__STATIC__/rzg_images/banner7.jpg') no-repeat center top">
                        <a href="xycl.htm"  target="_blank"></a>
                    </li>
                    
      </ul>
    </div>
  </div>
        <!-- banner end -->
        <!-- wzgg start -->
        <div class="i_con1">
            <div class="icon1_left">
                <div class="i_tzlc">
                    <div class="pic">
                        <a href="newhelp.htm"> </a>
                    </div>
                    <div class="font">
                        注册成为会员，充值后选择优质借款项目进行投资，将闲散资金借给有需要的人，获得年化12%-20%的投资收益。
                    </div>
                </div>
                <div class="i_jkrz">
                    <div class="pic">
                        <a href="borrowhelp.htm"></a>
                    </div>
                    <div class="font">
                        如果你现在需要资金周转，可以向我们提交借款申请，通过考察、资料审核、办理借款手续后手续后，可以及时解决资金问题。
                    </div>
                </div>
                <div class="i_aqbz">
                    <div class="pic">
                        <a href="safety.htm"> </a>
                    </div>
                    <div class="font">
                        我们的客户来自于公司业务一手客户及银行合作推荐客户，借助于银行大数据风控团队及自身专业的风控体系，更有第三方担保公司兜底，让您放心投资。
                    </div>
                </div>
            </div>
             <!-- 网站公告 -->
            <div class="icon1_right">
                <div class="wzgg_title">
                    <p style="float:left;" ><img src="__STATIC__/rzg_images/img/wzgg.jpg" /> </p>
                    <a class="more" style="float:right;text-decoration:underline;color:#666;" href="{:U('Article/lists?category='.get_category_name(2))}" target="_blank">更早>></a>
                </div>
                <ul class="font">
                    <volist name="lists"  id="list">
                        <li style="overflow: hidden">
                            <a href="{:U('Article/detail?id='.$list['id'])}">{$list.title}</a>
                        </li>
                    </volist>
                </ul>

            </div>
        </div>
        <!-- wzgg end -->
        <!-- tzlb strat -->
        <div class="i_con2">
                <br />
                <br />
            <div class="icon1_left">
                <div class="title_bj">
                    <h4>
                        <a href="finance.htm">投资列表</a>
                    </h4>
                </div>
                <div class="lctab">
                    <ul id="lastestborrow">
                    <volist name="list2" id="vo">
                            <!-- 标开始 -->
                                <li>
                                    <if condition="$vo.borrow_status eq 1">
                                        <div class="bottm2"><a href="{:U('Finance/invest?id='.$vo['id'])}">初审中</a></div>
                                    <elseif condition="$vo.borrow_status eq 2"/>
                                        <div class="bottm"><a href="{:U('Finance/invest?id='.$vo['id'])}">立即认购</a>
                                        </div>
                                    <elseif condition="$vo.borrow_status eq 3"/>
                                        <div class="bottm">
                                        <a href="{:U('Finance/invest?id='.$vo['id'])}">立即投标</a>
                                        </div>
                                    <elseif condition="$vo.borrow_status eq 4"/>
                                        <div class="bottm2"><a href="{:U('Finance/invest?id='.$vo['id'])}">复审中</a></div>&nbsp;
                                    <elseif condition="$vo.borrow_status eq 5"/>
                                        <div class="bottm2"><a href="{:U('Finance/invest?id='.$vo['id'])}">回购中</a></div>&nbsp;
                                    <elseif condition="$vo.borrow_status eq 4"/>
                                        <div class="bottm2"><a href="{:U('Finance/invest?id='.$vo['id'])}">还款中</a></div>&nbsp;
                                    <elseif condition="$vo.borrow_status eq 6"/>
                                        <div class="bottm2"><a href="{:U('Finance/invest?id='.$vo['id'])}">已还完</a></div>&nbsp;
                                    <elseif condition="$vo.borrow_status eq 7"/>
                                        <div class="bottm2">
                                        <a href="{:U('Finance/invest?id='.$vo['id'])}">已完成</a>
                                        </div>&nbsp;
                                    </if>


                                    <div class="list_txt">
                                        <table width="600" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <th colspan="3" align="left">
                                                    <a href="financeDetail.htm?id=${finance.id}" target="_blank">
                                                        <shove:sub value="#finance.borrowTitle" suffix="..."
                                                            size="15" /> </a>
                                                <span class="list_txtjl"><span>{$vo.reward_num|default="0.00"}
<!--                                                     <s:if test="#finance.excitationType==2">
                                                        <span class="list_txtjl"><span>￥${finance.excitationSum
                                                                }</span> </span>
                                                    </s:if>
                                                    <s:if test="#finance.excitationType==3">
                                                        <span class="list_txtjl"><span>${finance.excitationSum
                                                                }%</span> </span>
                                                    </s:if> -->
                                                </th>
                                            </tr>
                                            <tr>
                                                <h2>{$vo.borrow_name}</h2>
                                            </tr>
                                            <tr>
                                                <td width="180">
                                                    借款金额：
                                                    <span>￥ {$vo.borrow_money|money_upper=###} </span>
                                                </td>
                                                <td width="180">
                                                    年利率：
                                                    <span>￥ {$vo.borrow_interest_rate}</span>
                                                </td>
                                                <td width="170">
                                                    借款期限：
                                                    <span>{$vo.borrow_duration} <s:property value="#finance.deadline"
                                                            default="0" /> <s:if test="%{#finance.isDayThe ==1}">个月</s:if>
                                                        <s:else>天</s:else> </span>
                                                </td>
                                                   <td width="170">
                                                    发标时间：
                                                    <span>{$vo.add_time|date='Y-m-d',###}</span>
                                                </td>
                                                
                                            </tr>
                                            <tr>
                                                <td>借款类型：
                                                        <img src="__STATIC__/rzg_images/ico_7.jpg" title="本息保障,推荐标" />
<!--                                                     <s:if test="#finance.borrowWay ==1">
                                                    借款类型：净值借款
                                                        <img src="__STATIC__/rzg_images/neiye1_53.jpg" title="净值借款" />
                                                    </s:if>
                                                    <s:if test="#finance.borrowWay ==2">
                                                    借款类型： 秒还借款
                                                        <img src="__STATIC__/rzg_images/ico_1.jpg" title="秒还借款" />
                                                    </s:if>
                                                    <s:if test="#finance.borrowWay ==4">
                                                    借款类型：实地考察借款
                                                        <img src="__STATIC__/rzg_images/tubiao2.png" title="实地考察借款" />
                                                    </s:if>
                                                    <s:if test="#finance.borrowWay ==5">
                                                     借款类型：机构担保借款
                                                        <img src="__STATIC__/rzg_images/ico_7.jpg" title="本息保障,推荐标" />
                                                    </s:if>
                                                    <s:if test="#finance.isDayThe ==2">
                                                     借款类型： 天标
                                                        <img src="__STATIC__/rzg_images/neiye1_67.jpg" title="天标" />
                                                    </s:if>
                                                    <s:if test="#finance.hasPWD ==1">
                                                    借款类型：
                                                        <img src="__STATIC__/rzg_images/lock.png" title="投标时需要填写密码" />
                                                   </s:if>
                                                    <s:if test="#finance.auditStatus ==3">
                                                    借款类型：
                                                        <img src="__STATIC__/rzg_images/neiye1_62.jpg" title="该用户通过抵押认证" />
                                                    </s:if> -->
                                                </td>
                                                <td>
                                                    <div>
                                                        <div style="float: left;">
                                                            借款进度：
                                                        </div>
                                                        <div class="progeos">
                                                            <div
                                                                style="width: <s:property value="#finance.schedules" default="0"/>%"></div>
                                                        </div>
                                                        <div style="float: left;">
                                                            <span> <s:property value="#finance.schedules"
                                                                    default="0" /> %</span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    完成投标：{$vo.has_borrow}
                                                    <span> <s:property value="#finance.investNum"
                                                            default="---" /> </span>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div style="clear: both"></div>
                                </li>
                            <!-- 标结束 -->
                            </volist>
                        <s:else>
                            <li style="text-align: center;">
                               <div class="page"> {$page}</div><!-- 没有数据 -->
                            </li>
                        </s:else>
                    </ul>
                </div>
            </div>
            <div class="icon2_right">
                <div class="mtbd">
                    <div class="tz_title">
                        <h3>
                            <a href="initMediaReport.htm">
                            
                            行业动态
                        </h3>
                    </div>
                    <ul class="font">
                       <volist name="lists1" id="list1">
                                <li>
                                    <a href="{:U('Article/detail?id='.$list1['id'])}">{$list1.title}</a>
                                </li>
                       </volist>                   
                    </ul>
                    <a class="more"  href="{:U('Article/lists?category='.get_category_name(40))}" target="_blank">点击查看更多</a>
                </div>
                <br />
                <div class="lcfyb">
                    <div class="tz_title">
                        <h3>
                            理财风云榜
                        </h3>
                        <ul>
                            <li onclick="javascript:checkTime(0)" id="touzi_now" class="cur">
                                全部
                            </li>
                            <li onclick="javascript:checkTime(1)" id="touzi_year">
                                年
                            </li>
                            <li  id="touzi_quarter"  onclick="javascript:checkTime(2)">
                                季
                            </li> 
                            <li onclick="javascript:checkTime(3)" id="touzi_month">
                                月
                            </li>
                            <li onclick="javascript:checkTime(4)" id="touzi_week">
                                周
                            </li>
                            <li onclick="javascript:checkTime(5)" id="touzi_tian">
                                天
                            </li>
                        </ul>
                    </div>
                    <div id="touzib">
                        <ul class="tz_main" id="investRank">
                            <s:if test="#request.rankList!=null || #request.rankList.size>0">
                                <volist name="lists2" id="list2">
                                    <li>
                                        <span>{$list2.investor_uid}</span><span class="dj_ico">{$list2.investor_capital}</span>
                                    </li>
                                </volist>
                            </s:if>
                            <s:else>
                                <li style="text-align: center;">
                                    暂无排名
                                </li>
                            </s:else>
                        </ul>
                    </div>
                </div>
                <br />
                
                
                <!-- 计算器开始 -->
                <div class="i_syjsq">
                    <div class="tz_title">
                        <h3>
                            收益计算器
                        </h3>
                    </div>
                    <ul class="font">
                        <li>
                            <a href="incometools.htm">收益计算器</a>
                            <span>算算能赚多少钱</span>
                        </li>
                        <li><a href="#">自动投资</a> <span>省心省力快速投资</span></li>
                        <li>
                            <a href="cpitools.htm">CPI跟踪器</a><span>齐心协力跑赢CPI</span>
                        </li>
                        <li>
                            <a href="socialtools.htm">身价计算器</a><span>你也能成为大富翁</span>
                        </li>
                        <li>
                            <a href="comparetools.htm">收益对比器</a><span>好不好比比就知道</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="i_con3">
            <div class="title_bj">
                <h4>
                    媒体报道
                </h4>
            </div>

            <div class="i_mtbdcon">

                <span class="mtbd_pic_prev" id="s3_k_c_abq_d_prev"></span>
                <div id="s3_k_c_abq_d" class="i_mtbdpic">
                    <ul>
                        <li>
                        <a href="#"> <img src="__STATIC__/rzg_images/logo_hqcj.jpg" width="130" height="52" /> </a>
                        </li>
                        <li>
                        <a href="#"> <img src="__STATIC__/rzg_images/logo_hqcj.jpg" width="130" height="52" /> </a>
                        </li>
                                                <li>
                        <a href="#"> <img src="__STATIC__/rzg_images/logo_hqcj.jpg" width="130" height="52" /> </a>
                        </li>
                                                <li>
                        <a href="#"> <img src="__STATIC__/rzg_images/logo_hqcj.jpg" width="130" height="52" /> </a>
                        </li>
                                                <li>
                        <a href="#"> <img src="__STATIC__/rzg_images/logo_hqcj.jpg" width="130" height="52" /> </a>
                        </li>
                                                <li>
                        <a href="#"> <img src="__STATIC__/rzg_images/logo_hqcj.jpg" width="130" height="52" /> </a>
                        </li>
                                                <li>
                        <a href="#"> <img src="__STATIC__/rzg_images/logo_hqcj.jpg" width="130" height="52" /> </a>
                        </li>
                    </ul>
                </div>
                <span class="mtbd_pic_next" id="s3_k_c_abq_d_next"></span>

            </div>
            <script>
          jQuery("#s3_k_c_abq_d").jCarouselLite({
          btnNext: "#s3_k_c_abq_d_next",
          btnPrev: "#s3_k_c_abq_d_prev",
          auto:1000,
          speed:1000,
          visible:6,
          scroll:1
          });
          </script>
        </div>
        <!-- 引用底部公共部分 -->
        <script type="text/javascript" src="script/jquery.shove-1.0.js"></script>
        <script type="text/javascript"
            src="script/jbox/jquery.jBox-2.3.min.js"></script>
        <script type="text/javascript" src="script/jbox/jquery.jBox-zh-CN.js"></script>
        <script>
        // banner图片乱换效果
     
   $(function(){
    var numpic = $('#slides li').size()-1;
    var nownow = 0;
    var inout = 0;


    $('#slides li').eq(0).siblings('li').css({'display':'none'});

    var ulstart = '<div id="main_pagination"><ul id="pagination">',
        ulcontent = '',
        ulend = '</ul></div>';
    ADDLI();
    var pagination = $('#pagination li');
    var paginationwidth = $('#pagination').width();
    $('#pagination').css('margin-left',(40-paginationwidth))
    
    pagination.eq(0).addClass('current')
        
    function ADDLI(){
        //var lilicount = numpic + 1;
        for(var i = 0; i <= numpic; i++){
            ulcontent += '<li>' + '<a href="#">' + (i+1) + '</a>' + '</li>';
        }
        
        $('#slides').after(ulstart + ulcontent + ulend);    
    }

    pagination.click(function(){
        var changenow = $(this).index();
        
        $('#slides li').eq(nownow).css('z-index','1');
        $('#slides li').eq(changenow).css({'z-index':'0'}).show();
        pagination.eq(changenow).addClass('current').siblings('li').removeClass('current');
        $('#slides li').eq(nownow).fadeOut(400,function(){$('#slides li').eq(changenow).fadeIn(500);});
        nownow = changenow;
    });
    
    pagination.mouseenter(function(){
        inout = 1;
    })
    
    pagination.mouseleave(function(){
        inout = 0;
    })
    
    function GOGO(){
        
        var NN = nownow+1;
        
        if( inout == 1 ){
            } else {
            if(nownow < numpic){
            $('#slides li').eq(nownow).css('z-index','1');
            $('#slides li').eq(NN).css({'z-index':'0'}).show();
            pagination.eq(NN).addClass('current').siblings('li').removeClass('current');
            $('#slides li').eq(nownow).fadeOut(400,function(){$('#slides li').eq(NN).fadeIn(500);});
            nownow += 1;

        }else{
            NN = 0;
            $('#slides li').eq(nownow).css('z-index','1');
            $('#slides li').eq(NN).stop(true,true).css({'z-index':'0'}).show();
            $('#slides li').eq(nownow).fadeOut(400,function(){$('#slides li').eq(0).fadeIn(500);});
            pagination.eq(NN).addClass('current').siblings('li').removeClass('current');

            nownow=0;

            }
        }
        setTimeout(GOGO, 3000);
    }
    setTimeout(GOGO, 3000); 

});
        
</script>
        </script>
        <script type="text/javascript">
    $(function(){
        dqzt(0);
        var tim;
        $("#scrollleft ul").css("width",$("#scrollleft li").length*125);
        function scrooatu(){
            clearTimeout(tim);
        $("#scrollleft").animate({scrollLeft:$("#scrollleft").scrollLeft()+122},"slow",function(){
            $("#scrollleft").animate({scrollLeft:0},0);
            $("#scrollleft li:first").appendTo($("#scrollleft ul"));
            });
        
        tim = setTimeout(scrooatu,3000);
        }
        scrooatu();
        $("#code").bind('keyup', function(event){
               if (event.keyCode=="13"){
                  login();  
               }
            }); 
        $("#scrollleft").hover(function(){
            clearTimeout(tim);
        },
        function(){
            setTimeout(scrooatu,1000);
        });
    
    });
    //初始化
    function switchCode(){
        var timenow = new Date();
            $("#codeNum").attr("src","admin/imageCode.htm?pageId=userlogin&d="+timenow);
        };
    $(document).ready(function(){
        $("#email").focus(function(){
            $("#email").val("");
        });
        $("#code").focus(function(){
            $("#code").val("");
        });
        
        });
    function login(){
         $(this).attr('disabled',true);
         $('#btn_login').attr('value','登录中...');
            var param = {};
            param["paramMap.pageId"] = "userlogin";
            param["paramMap.email"] = $("#email").val();
            param["paramMap.password"] = $("#password").val();
            param["paramMap.code"] = $("#code").val();
            param["paramMap.afterLoginUrl"]="${afterLoginUrl}";
           $.post("logining.htm",param,function(data){
                if(data == 1){
                       window.location.href='index.jsp';
                }else if (data == 2) {
                     $('#btn_login').attr('value','登录');
                    alert("验证码错误!");
                    switchCode();
                     $("#btn_login").attr('disabled',false); 
                } else if (data == 3) {
                     $('#btn_login').attr('value','登录');
                    alert("用户名或密码错误!");
                     switchCode();
                     $("#btn_login").attr('disabled',false); 
                } else if (data == 4) {
                 $('#btn_login').attr('value','登录');
                    $("#s_email").attr("class", "formtips onError");
                    alert("该用户已被禁用!");
                     switchCode();
                     $("#btn_login").attr('disabled',false); 
                }
           });

        };
         function checkTime(num){
             if(num==0){
                 $('#touzi_now').attr('class','cur');
                 $('#touzi_year').attr('class','');
                 $('#touzi_quarter').attr('class','');
                 $('#touzi_month').attr('class','');
                 $('#touzi_week').attr('class','');
             }else if (num==1){
                 $('#touzi_now').attr('class','');
                 $('#touzi_year').attr('class','cur');
                 $('#touzi_quarter').attr('class','');
                 $('#touzi_month').attr('class','');
                 $('#touzi_week').attr('class','');
             }else if (num==2) {
                 $('#touzi_now').attr('class','');
                 $('#touzi_year').attr('class','');
                 $('#touzi_quarter').attr('class','cur');
                 $('#touzi_month').attr('class','');
                 $('#touzi_week').attr('class','');
            }else if (num==3){
                $('#touzi_now').attr('class','');
                 $('#touzi_year').attr('class','');
                 $('#touzi_quarter').attr('class','');
                 $('#touzi_month').attr('class','cur');
                 $('#touzi_week').attr('class','');
            }else if (num==4){
                $('#touzi_now').attr('class','');
                 $('#touzi_year').attr('class','');
                 $('#touzi_quarter').attr('class','');
                 $('#touzi_month').attr('class','');
                 $('#touzi_week').attr('class','cur');
            }else if (num==5){
                $('#touzi_now').attr('class','');
                 $('#touzi_year').attr('class','');
                 $('#touzi_quarter').attr('class','');
                 $('#touzi_month').attr('class','');
                 $('#touzi_tian').attr('class','cur');
            }
             var param = {};
             param["paramMap.number"] = num;
             $.post("investRank.htm",param,function(data){
                    $("#touzib").html(data);
            });
        }
         function  checkTou(id,type){
             var param = {};
             param["id"] = id;
             $.shovePost('financeInvestInit.htm',param,function(data){
               var callBack = data.msg;
               if(callBack !=undefined){
                 alert(callBack);
               }else{
                   if(type==2){
                            var url = "subscribeinit.htm?borrowid="+id;
                             $.jBox("iframe:"+url, {
                                    title: "我要购买",
                                    width: 450,
                                    height: 450,
                                    buttons: {  }
                                    });
                    }else{
                         window.location.href= 'financeInvestInit.htm?id='+id;
                   }
               }
             });
         }
          function closeMthod(){
                window.jBox.close();
                window.location.reload();
            }
</script>
        <script type="text/javascript">
    $(function(){
            var self=$("#scroll ul")
            var sd=null;
            var leng=parseInt($("#scroll ul").css("width",self.find("li").length*459).css("width"));
            $("#scroll ul").css("width",self.find("li").length*459);
                function scrollatuo(){
                clearTimeout(sd);
                if($("#scroll").scrollLeft()>=leng-490){
                    $("#scroll").animate({scrollLeft:0},"slow");
                    $(".control a").removeClass("cur")
                    $(".control a:first").addClass("cur")
                    sd=setTimeout(scrollatuo,3000);
                }
                else{
                $("#scroll").animate({scrollLeft:$("#scroll").scrollLeft()+459},"slow",function(){
                        var insd=parseInt($("#scroll").scrollLeft()/459);
                $(".control a").removeClass("cur")
                $(".control a").eq(insd).addClass("cur")
                });}        
                sd=setTimeout(scrollatuo,3000);
            
                }
            sd=setTimeout(scrollatuo,1000);
            //控制区
            $(".control a").hover(function(){
                var sf=$(".control a").index(this);
                $("#scroll").animate({scrollLeft:459*sf},"slow");
                clearTimeout(sd);
                $(".control a").not(this).removeClass("cur")
                $(this).addClass("cur");
            },function(){
                    sd=setTimeout(scrollatuo,3000); 
            });
            //选项卡
            $("#second-tal li").click(function(){
            var sd=$("#second-tal li").index(this);
        
            $(".job-list").hide();
            $(".job-list").eq(sd).show();
            $("#second-tal li").removeClass("cur");
            $(this).addClass("cur");
            })
            
        })
</script>
        <!-- tzlb end -->
        
        <script>
var creditType = '';

Number.prototype.numFormat = function() {  
   var res = this.toString();  
   res = res.split('').reverse().join('').replace(/(\d{3})/g, '$1,').split('').reverse().join('');  
   if (res.length > 0) {  
       if (res.charAt(0) == ',') {  
           res = res.substr(1);  
       }  
   }  
   res = res.replace('.,','.');  
   return res;  
}; 

function showLoginDiv(){
    //弹出透明登陆框
    $(".user-name").html($("#user-name").html());
    $("#unknown-user").toggle(!$("#user-name").html());
    $("#logged-in-user").toggle(!!$("#user-name").html());
    $(".opacity-div").css("height",(!$("#user-name").html() ? "262x": "200px"));
    $(".trans-login-div").css({"right":($(window).width()-1000)/2})
                         .animate({"top":"180px"}, 1500, function(){
                            $(this).animate({"top":"180px"},500);
                         });
}

$(document).ready(function(){
    rxdai.isLogin(rxdai.changStatus);   
    setTimeout(showLoginDiv, 500);
    //rxdai.borrow.list();
    rxdai.borrow.info();
     //判断是否为ie，返回true则代表是   
    if (browser() == "IE 6.0") { document.getElementById("ieversion").innerHTML = '6'; document.getElementById("ie6-warning").style.display = "block"; }; if (browser() == "IE 7.0") { document.getElementById("ieversion").innerHTML = '7'; document.getElementById("ie6-warning").style.display = "block"; };   

    $(".friend-link").live("click", function(){
        var index = $(".friend-link").index(this);
        $(".friend-link").css({"background":"", "color":""}).eq(index).css({"background":"#303030", "color":"#d1d1d1"});
        $(".friend-link-detail").addClass("hide").eq(index).removeClass("hide");
    });

}) 
</script>
</block>