<%@ page language="java" import="java.util.*" pageEncoding="UTF-8"%>
<%@ include file="/include/taglib.jsp"%>
<link href="css/css.css" rel="stylesheet" type="text/css" />
		<link href="css/base.css" rel="stylesheet" type="text/css" />
		<link href="css/inside.css" rel="stylesheet" type="text/css" />
		<link id="skin" rel="stylesheet" href="css/jbox.css" />
 <div class="lcmain"> 
				<div class="lcmain_l" style="width: 694px">
					<div class="lctab" style="padding: 0 10px;">
						<div class="gginfo" style="padding-bottom: 30px">
							
							<p class="time">
								点击右边列表查看详情！
							</p>
							
						</div>
						<div class="sxnews">
							<ul>
								
							</ul>
						</div>
					</div>
				</div>
				<div id="showDongtai" class="lcmain_r">
					<!-- 网站动态显示位置 -->
				</div>
			</div>

