<%@ page language="java" import="java.util.*" pageEncoding="UTF-8"%>
<%@include file="/include/taglib.jsp"%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>融资谷网贷</title>
		<jsp:include page="/include/head.jsp"></jsp:include>
		<link rel="stylesheet" href="css/style.css" type="text/css"></link>
		<link rel="stylesheet" href="css/base.css" type="text/css"></link>
		<link href="css/inside.css" rel="stylesheet" type="text/css" />
		<link id="skin" rel="stylesheet" href="css/jbox/Gray/jbox.css" />
		<script language="javascript" type="text/javascript"
			src="My97DatePicker/WdatePicker.js"></script>
	</head>

	<body>
		<!-- 引用头部公共部分 -->
		<jsp:include page="/include/topref.jsp"></jsp:include>

		<div class="nymain">
			<div class="wdzh">
				<div class="l_nav">
					<div class="box">
						<!-- 引用我的帐号主页左边栏 -->
						<%@include file="/include/left.jsp"%>
					</div>
				</div>
				<div class="r_main">
					<div class="tabtil">
						<ul>
							<a href="friendManagerInit.htm">
								<li class="on">
									如何邀请好友
								</li> 
							</a>
							<a href="friendManagerInits.htm">
							<li>
								 邀请的好友 
							</li>
							</a>
						</ul>
					</div>
					<div class="box">
						<div class="boxmain2 yqhy">
							<div class="rrdslcj">
								<img src="./images/yqhy.jpg" alt="邀请好友，挣金币，兑大礼" />
							</div>
							<div class="bdsharebuttonbox">
								<a href="#" class="bds_more" data-cmd="more"></a>
								<a href="#" class="bds_qzone" data-cmd="qzone"></a>
								<a href="#" class="bds_tsina" data-cmd="tsina"></a>
								<a href="#" class="bds_tqq" data-cmd="tqq"></a>
								<a href="#" class="bds_renren" data-cmd="renren"></a>
								<a href="#" class="bds_weixin" data-cmd="weixin"></a>
							</div>
							<script>
	window._bd_share_config = {
		"common" : {
			"bdSnsKey" : {},
			"bdText" : "融资谷资本集团旗下 网贷平台【ubanks】，P2P理财首选平台。综合年化收益18%以上，100%本息安全保障，50元超低门槛，是草根、家庭的理财专属通道！你也赶快来投资，别被银行榨取我们的存款利息！进入平台先注册:${url}reg.htm?param=${userId}",
			"bdMini" : "2",
			"bdPic" : "",
			"bdStyle" : "0",
			"bdSize" : "16"
		},
		"share" : {},
		"image" : {
			"viewList" : [ "qzone", "tsina", "tqq", "renren", "weixin" ],
			"viewText" : "分享到：",
			"viewSize" : "16"
		},
		"selectShare" : {
			"bdContainerClass" : null,
			"bdSelectMiniList" : [ "qzone", "tsina", "tqq", "renren", "weixin" ]
		}
	};
	with (document)
		0[(getElementsByTagName('head')[0] || body)
				.appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];
</script>
							<div class="yqhy_text1">
								<h4>
									复制链接发给QQ/MSN上的好友
								</h4>
								<textarea class="txta_1" name="contents" id="contents">融资谷资本集团旗下 网贷平台【ubanks】，P2P理财首选平台。综合年化收益18%以上，100%本息安全保障，50元超低门槛，是草根、家庭的理财专属通道！你也赶快来投资，别被银行榨取我们的存款利息！进入平台先注册:${url}reg.htm?param=${userId}</textarea>
								<div class="fzfx_an">
									<a href="javascript:void(0);" onclick=
	jsCopy();
><img
											src="./images/img/fzfx_an.jpg" width="103" height="29" /> </a>
								</div>
							</div>

							<div class="yqhy_text1">
								<h4>
									还可以通过邮件推荐
								</h4>
								<ul class="yjtj">
									<li>
										<label class="lab1 ">
											好友EMAIL：
										</label>
										<input type="text" maxlength="100" value=""
											class="inp1 no_ol pl5 fc999 b_ddd" id="emails">
									</li>
									<li>
										<label class="lab1">
											您的姓名：
										</label>
										<input type="text" maxlength="20"
											class="inp1 no_ol pl5 fc999 b_ddd" value="" id="name">
									</li>
									<li>
										<label class="lab1">
											标题：
										</label>
										<input type="text" class="inp1 no_ol pl5 fc999 b_ddd"
											value="教您稳赚赢大奖" id="title">
									</li>
									<li>
										<label class="lab1">
											内容：
										</label>
										<textarea class="txta_2 no_ol b_ddd fc999" id="content"
											name="content" rows="20">融资谷资本集团旗下网贷平台【ubanks】，P2P理财首选平台。综合年化收益18%以上，100%本息安全保障，50元超低门槛，是草根、家庭的理财专属通道！你也赶快来投资，别被银行榨取我们的存款利息！进入平台先注册:${url}reg.htm?param=${userId}</textarea>
									</li>
								</ul>
								<div class="fzfx_an">
									<span style="color: red; float: none;" id="s_tip"
										class="formtips"></span>
									<a href="javascript:void(0);" onclick=
	sendMail();
> <img
											src="./images/img/fs_an.jpg" width="103" height="29" /> </a>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		</div>
		<input id="attid" type="hidden" value="${user.id }" />
		<!-- 引用底部公共部分 -->
		<jsp:include page="/include/footer.jsp"></jsp:include>

		<script type="text/javascript" src="script/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="script/jquery.shove-1.0.js"></script>
		<script type="text/javascript" src="script/nav-zh.js"></script>
		<script type="text/javascript" src="common/date/calendar.js"></script>
		<script type="text/javascript" src="css/popom.js"></script>


		<script>
	function sendMail() {
		param["paramMap.emails"] = $("#emails").val();
		param["paramMap.name"] = $("#name").val();
		param["paramMap.title"] = $("#title").val();
		param["paramMap.content"] = $("#content").val();
		$.shovePost("sendGroupEmails.htm", param, function(data) {
			if (data == 1) {
				$("#s_tip").html("请输入好友EMAIL");
				return;
			} else if (data == 7) {
				$("#s_tip").html("邮箱格式错误");
				return;
			} else if (data == 2) {
				$("#s_tip").html("请输入您的姓名");
				return;
			} else if (data == 5) {
				$("#s_tip").html("姓名长度为2-20个字符");
				return;
			} else if (data == 3) {
				$("#s_tip").html("请输入邮件标题");
				return;
			} else if (data == 6) {
				$("#s_tip").html("邮件标题长度为5-30个字符");
				return;
			} else if (data == 4) {
				$("#s_tip").html("请输入邮件内容");
				return;
			} else {//邮件发送成功，
					alert("邮件发送成功");
					window.location.href = "friendManagerInit.htm";
				}
			});
	}
</script>

		<script type="text/javascript">
	function jsCopy() {
		var e = document.getElementById("contents");//对象是content 
		e.select(); //选择对象 
		document.execCommand("Copy"); //执行浏览器复制命令
	}
</script>

		<script>
	$(function() {
		//样式选中
		$("#zh_hover").attr('class', 'nav_first');
		$("#zh_hover div").removeClass('none');
		$('#li_6').addClass('on');

		init();
	});
</script>

	</body>
</html>

