<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head> 
		<link href="css/base.css" rel="stylesheet" />
		<link href="css/style.css" rel="stylesheet" />
		<link id="skin" rel="stylesheet" href="css/jbox.css" />
		<script src="script/jquery-1.7.1.min.js" type="text/javascript"></script>
	</head>
	<body>
		<!-- 引用头部公共部分 -->
		<jsp:include page="/include/topref.jsp"></jsp:include>

		<!-- banner -->
		<div class="xsbz_banner">
			<img src="images/img/wyrz_banner.jpg" width="1440" height="246" />
		</div>
		<!-- banner end -->

		<!-- 我要融资 -->
		<div class="jkbz_box">
			<div class="wyrz_box">
				<div class="lcbz_title">
					立即申请借款
				</div>
				<span>您存在没有完成的借款标,无法进行第二次申请！</span>
			</div>
		</div>
		<!-- 引用底部公共部分 -->
		<jsp:include page="/include/footer.jsp"></jsp:include>
	</body>
</html>
